{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
{% trans "Sign In" %}
{% endblock head_title %}
{% block content %}

<div class="card-body">
	<h2>
		Log In
	</h2>
	<hr>
	<form method="post" action="/accounts/login/" data-bitwarden-watching="1">
		{% csrf_token %}
		<p>
			<input type="text" class="form-control" name="login" placeholder="Username" autocomplete="username"
				maxlength="150" required="" id="id_login">
		</p>
		<p>
			<input type="password" class="form-control" name="password" placeholder="Password"
				autocomplete="current-password" required="" id="id_password">
			<br>
			<span class="helptext"><a href="/accounts/password/reset/">Forgot your password?</a></span>
		</p>
		<p>
			<label for="id_remember">Remember Me:</label>
			<input type="checkbox" name="remember" id="id_remember">
		</p>
		<input type="hidden" name="next" value="/accounts/profile/">
		<button class="btn btn-primary w-100">
			Sign In
		</button>
	</form>
	<hr>
	<div class="row">
		<a class="btn btn-success mt-2" href="/accounts/signup/?next=%2Faccounts%2Fprofile%2F">
			Register
		</a>
	</div>
</div>
{% endblock content %}
