{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>📈 HabitStake </title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

	<main>

		{% with profile_picture=user.userprofile.profile_picture.url|default:'/media/profile.png' %}
		{% include 'header.html' %}
		{% endwith %}

		<div class="container">

			<div class="row text-center p-4">
				<h1> 📈 HabitStake </h1>
			</div>

			<div class="accordion" id="accordionFlushExample">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							Why does this exist?
						</button>
					</h2>
					<div id="flush-collapseOne" class="accordion-collapse collapse"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body"><p>
							The things we want in life may seem like an immense effort away. In
								reality, we usually just need to put in a little effort consistently over long focused
								periods.
						</p>

							<p>But if we're not careful and lose focus, time will pass us by.</p>

							<p>
								This app creates a ritual to sustain long term focus, with financial and social stakes on
								the line to help us stay accountable.
							</p>

						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							Spending money?
						</button>
					</h2>
					<div id="flush-collapseTwo" class="accordion-collapse collapse"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body"><p>
							Every new account starts with a free streak, spending money isn't
								required to get started.
						</p>

							<p>If you lose that, you can purchase a streak, creating some more pressure to stay focused.</p>

							<p>It also helps fund websites like these, which aren't free.</p></div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseThree" aria-expanded="false"
							aria-controls="flush-collapseThree">
							Design philosophies.
						</button>
					</h2>
					<div id="flush-collapseThree" class="accordion-collapse collapse"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body"><p>No software application is a substitute for discipline.</p>

							<p>
								This app is designed as a tool for those who are independently motivated to work on a long
								term goal.
							</p>

							<p>
								Sharing your streak publicly means more people will see if you didn't stay consistent. Money
								puts tangible value on a commitment to goals.
							</p>

							<p>
								Leveraging these accountabilities will only make us motivated to be the best version of
								ourselves.
							</p></div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseFour" aria-expanded="false"
							aria-controls="flush-collapseFour">
							Contact and support.
						</button>
					</h2>
					<div id="flush-collapseFour" class="accordion-collapse collapse"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body"><p>If issues arise please contact me directly at matt@masoftware.net</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row text-center p-4 border-bottom">
				<h1> Instructions </h1>
			</div>

			<div class="row text-center p-4">
				<div class="col-sm-6 py-4 border-bottom">
					<h1>Me</h1>
					<h3> 0 Days </h3>
					<img src="/media/profile.png" class="mx-4 rounded-circle border shadow profile-pic border-5"
						height=128 width=128 alt="Profile Picture">
					<div class="row mx-auto justify-content-center">
						<div class="col-md-6">

							<div class="form-group">
								<label for="amount" class="mr-2">Stake an amount</label>
								<div class="input-group">
									<input type="number" class="form-control" id="amount" name="amount" min="1" step="1"
										placeholder="$1+" required>
									<button type="submit" class="btn btn-primary rounded-left">Pay</button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-6 py-4 border-bottom">
					<p>No habits or streaks active.</p>
				</div>
			</div>

			<div class="row text-center p-4">
				<div class="col-sm-6 py-4 border-bottom">
					<h1>Me</h1>
					<h3> 😴️ 0 Days </h3>
					<p>
						Meditate <br>
						Journal <br>
						Exercise <br>
					</p>
					<img src="/media/profile.png"
						class="mx-4 rounded-circle border border-warning shadow profile-pic border-5" height=128
						width=128 alt="Profile Picture">
					<p class="mt-4"> You have 46 hours to check in. </p>
				</div>
				<div class="col-sm-6 py-4 border-bottom">
					<p>Committed to habits with a 48-hour windows for check-in.</p>
				</div>
			</div>

			<div class="row text-center p-4">
				<div class="col-sm-6 py-4 border-bottom">
					<h1>Me</h1>
					<h3> 🛰️ 341 Days </h3>
					<p>
						Meditate <br>
						Journal <br>
						Exercise <br>
					</p>
					<img src="/media/profile.png"
						class="mx-4 rounded-circle border border-danger shadow profile-pic border-5" height=128
						width=128 alt="Profile Picture">
					<p class="mt-4"> You have 4 hours to check in. </p>
				</div>
				<div class="col-sm-6 py-4 border-bottom">
					<p>341-day streak active; 4 hours left to maintain it.</p>
				</div>
			</div>

			<div class="row text-center p-4">
				<div class="col-sm-6 py-4 border-bottom">
					<h1>Me</h1>
					<h3> 🛰️ 342 Days </h3>
					<p>
						Meditate <br>
						Journal <br>
						Exercise <br>
					</p>
					<img src="/media/profile.png"
						class="mx-4 rounded-circle border border-success shadow profile-pic border-5" height=128
						width=128 alt="Profile Picture">
				</div>
				<div class="col-sm-6 py-4 border-bottom">
					<p>342-day streak maintained; 48-hour timer reset.</p>
				</div>
			</div>



		</div>

		<footer class="py-3 my-4">
			<p class="text-center text-muted">© 2023 </p>
		</footer>
	</main>

	<script src="{% static 'js/darkmode.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/htmx.js' %}" crossorigin="anonymous"></script>

</body>

</html>