{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>📈 HabitStake</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body class="bg-body-tertiary">

    <main>

        {% with profile_picture=user.userprofile.profile_picture.url|default:'/media/profile.png' %}
            {% include 'header.html' %}
        {% endwith %}

        <div class="container p-4">

      <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto justify-content-center bg-body border rounded shadow p-4">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Update</button>
                </form>
                <a href="/accounts/logout" class="btn btn-dark mt-4">Logout</a>
                <a href="/accounts/password/change/" class="btn btn-dark mt-4">Change Password</a>
            </div>
        </div>
      </div>
        <footer class="py-3 my-4">
            <p class="text-center text-muted">© 2023 MA Software. All Rights Reserved.</p>
        </footer>
    </main>

    <script src="{% static 'js/darkmode.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/htmx.js' %}" crossorigin="anonymous"></script>

</body>

</html>