{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

    <main>

        {% include 'header.html' %}

        <div class="container p-4">

            <button class="btn btn-danger"><a href="/accounts/logout">Logout</a></button>
            
            <h2>User Profile</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <!-- Add other user attributes here -->
        </div>

        <footer class="py-3 my-4">
            <p class="text-center text-muted">© 2023 </p>
        </footer>
    </main>

    <script src="{% static 'js/darkmode.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/htmx.js' %}" crossorigin="anonymous"></script>

</body>

</html>