{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>📈 HabitStake</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<style>
    .profile-pic {
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
</style>

<body class="bg-body-tertiary">

    <main>

        {% with profile_picture=user.userprofile.profile_picture.url|default:'/media/profile.png' %}
            {% include 'header.html' %}
        {% endwith %}

        <div class="container p-4">

            <div class="d-flex flex-column align-items-center text-center">
                <h1>{{ username }}</h1>
                <h3>{{ level_emoji }} {{ streak }} Days</h3>
                <p>{{ user.userprofile.habits|linebreaks }}</p>
                <img src="{{ user.userprofile.profile_picture.url }}"
                    class="rounded-circle border {{ border_color }} shadow profile-pic border-5" height=128 width=128 alt="Profile Picture">
                <p class="mt-4"> {{ window_message }} </p>
            </div>

        </div>

    </main>

    <script src="{% static 'js/darkmode.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/htmx.js' %}" crossorigin="anonymous"></script>

</body>

</html>