{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="light">

{% include 'head.html' %}

		{% with profile_picture=user.userprofile.profile_picture.url|default:'/media/profile.png' %}
		{% include 'header.html' %}
		{% endwith %}

<body class="bg-body-tertiary">

	<main>


		<div class="container p-4 text-center">
			<div class="card mx-auto" style="max-width: 24rem;">
				<div class="card-body">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>

		<footer class="py-3 my-4">
			<p class="text-center text-muted">© 2023 </p>
		</footer>
	</main>

	<script src="{% static 'js/darkmode.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/htmx.min.js' %}" crossorigin="anonymous"></script>

</body>

</html>
